*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.calculator{
 flex: 0 0 95%;
}
.screen{
 width: 100%;
 font-size: 7rem;
 padding: 0.5rem;
 background-color:white;
 color: rgb(41,41,56);
 border:solid black 2px;
}

.buttons{
 display: flex;
 flex-wrap: wrap;
 transition: all 0.1s linear;
}

button{
 flex:0 0 25%;
 padding: 0.25rem 0;
 transition: all 2s ease;
 border-radius: 10px;
}
button:hover{
 background: rgb(131, 131, 141);
}
.btn-yellow{
 background: rgb(245,146,62);
 color: white;
 border:2px solid black ;
}
.btn-grey{
 background: rgb(224,224,224);
 border: 1px solid black;
}
.btn,.btn-equal,.btn-clear{
 font-size: 4rem;
}
.btn-equal{
 background: green;
 border: 2px solid black;
}
.btn-clear{
 background: rgb(234, 41, 41);
 border: 2px solid black;
}
.btn-equal:hover{
    background: rgb(102, 228, 43);
}
.btn-clear:hover{
    background:red;
}
.btn-yellow:hover{
    background:rgb(224, 132, 66);
}